body {
		font-family: 'Josefin Sans', sans-serif;
}

.container{
			padding-top: 15px;
}

img {
		height: auto;
		width: 100%;
}

.card-body{
				text-align: center;
}

.jumbotron {
				margin-top: 10px;
}

footer, li {
				text-align: center;
}